.status-bar-label {
    -fx-text-fill: #8f8f8f;
}

.status-bar-label--error {
    -fx-text-fill: #db392c;
}

.status-circle--idle {
    -fx-fill: #AAAAAA;
}

.status-circle--connected {
    -fx-fill: #25a434;
}

.status-circle--unreachable-server {
    -fx-fill: #db392c;
}