.recipient {
    -fx-background-color: #fafafa;
    -fx-background-radius: 10px;
}

.recipient-remove-button {
    -fx-background-color: transparent;
}

.recipient-email {
    -fx-border-color: transparent;
}

.recipient-email:disabled {
    -fx-underline: none;
}